## IF..Elif

In [25]:
var=5

if (var > 100 ):
    print('value is greater than 100')
elif(var<10):
    print(var ,'is less than 10')
else:
    print('Cannot determine')

5 is less than 10

In [30]:
name = 'kiran'

if (name == 'pavan sai'):
    print('Hi !!! Pavan sai')
elif(name == 'tarun'):
    print('Hi tarun')
else:
    print('Is your name',name,'?')

Is your name kiran ?

# For Loop

In python we can use For loop to print objects in all data structures

Such as String,List,Tuple,Dictionaries

EX: for i in d: ===> i represents each element of the d data structure
#Here the i will increment automatically

In [ ]:
# for i in mylist:
    #commands

In [2]:
mylist=[1,2,3]

for item in mylist:
    print(item)
# Here item is a variable which represents each object in the list from the start

1
2
3

In [3]:
for item in mylist:
    print('hello')

hello
hello
hello

In [7]:
# Using For and IF conditions
# Printing Even numbers

mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist:
    if (num % 2 == 0):
        print('Even :',num)
    else:
        print('ODD :',num)

ODD : 1
Even : 2
ODD : 3
Even : 4
ODD : 5
Even : 6
ODD : 7
Even : 8
ODD : 9
Even : 10

In [13]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for i in mylist:
    if (i%2==0):
        print(i)
    else:
        #using fstrings
        print(f'odd num : {i}')

odd num : 1
2
odd num : 3
4
odd num : 5
6
odd num : 7
8
odd num : 9
10

In [20]:
# Getting sum of objects in list
a = [1,2,3,4,5]

total = 0

for i in a:
# b  is every single object in list 
    total = total + b
    print('sum_Increment = ',total)
    
print('total_sum = ',total)

sum_Increment =  5
sum_Increment =  10
sum_Increment =  15
sum_Increment =  20
sum_Increment =  25
total_sum =  25

In [19]:
# Using For loop in Strings
#Used to print every character in string 

mystring = 'pavan'

for i in mystring:
    print(i)

p
a
v
a
n

We can use '_' instead of variable in for loop
#for _ in mystring:

In [21]:
# Nesting list
mylist = [1,2,[3,4],[5,6]]

for i in mylist:
    print (i)

1
2
[3, 4]
[5, 6]

In [24]:
# Tuples with for loop
a = (1,2,4,55)
for i in a:
    print (i)

1
2
4
55

In [25]:
# Consider a list of Tuples

tuple_list = [(1,2),(3,4),(5,6)]

# This will print the tuples
for i in tuple_list:
    print(i)

(1, 2)
(3, 4)
(5, 6)

## Tuple UnPacking

In [26]:
# Print elements of the list individually
tuple_list = [(1,2),(3,4),(5,6)]

# Here a represents all the first elements in tuples
# b represents all the second elements in tuples
for (a,b) in tuple_list:
    print(a)
    print(b)

# We can use without parenthesis
# for a,b in tuple_list:

1
2
3
4
5
6

In [33]:
t = [(1,2,3),(66,77,9),('a','b','c')]


# If we want only first element in each tuple
for (a,b,c) in t:
    print(a)

1
2
3
66
77
9
a
b
c

## For in Dictionaries

In [34]:
d = {'k1':1,'k2':2,'k3':3}

# Only prints keys of dictionary
for i in d:
    print(i)

k1
k2
k3

We can use Dictionaries methods 
#Like d.keys() d.values(),d.items()

In [36]:
for k in d.keys():
    print(k)

k1
k2
k3

In [37]:
for v in d.values():
    print(v)

1
2
3

In [38]:
for i in d.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [39]:
# Here we can use same Tuples Unpacking Techniques

In [44]:
for key,value in d.items():
    print(key,value)

k1 1
k2 2
k3 3

## While Loop

In [45]:
# while condition:
    # commands

In [55]:
x=0

while x<=5:
     print(' The value of x is',x)
#    print(f'Value of x is {x}')
     x+=1

 The value of x is 0
 The value of x is 1
 The value of x is 2
 The value of x is 3
 The value of x is 4
 The value of x is 5

In [57]:
# While and Else
x=0

while x<=5:
     print(' The value of x is',x)
#    print(f'Value of x is {x}')
     x+=1
else:
    print(f'{x} is greater than 5')

 The value of x is 0
 The value of x is 1
 The value of x is 2
 The value of x is 3
 The value of x is 4
 The value of x is 5
6 is greater than 5

### Break

Break Command is used to break out of the loop when condition is matched

In [60]:
mystring = 'Pavan sai'

for i in mystring:
    print(i)
    if i == ' ':# Breaks the loop if ' ' comes
        break

P
a
v
a
n

In [79]:
# Break is mostly used with while loop

x=100

while (x>50):
    if (x==60):
        break
    print(x)
    x-=10

100
90
80
70

### Continue

Continue is used to skip the commands if condition is matched and reaches top of the loop

In [74]:
mystring = 'pavan sai'

for i in mystring:
    if i=='s': # When i == 's' it will skip print and reaches to next element
        continue 
    print(i) # Print should be out of the if condition

p
a
v
a
n

a
i

### Pass

This will not do anything

In [77]:
i = [1,2,2]

for a in i:
    pass # This will not execute anything
# Used to make changes later

### Range

Range is used print numbers within the given Range.

In [82]:
# This will print numbers upto 10 but doesnot include 10
for num in range(0,10):
    print (num)

0
1
2
3
4
5
6
7
8
9

In [84]:
# We can give Step Value
for num in range(2,10,2):
    print (num)

2
4
6
8

In [1]:
# If we don't provide start value it starts from 0
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

### Enumerate

When dealing with iterations we need to keep count of iterations.

Enumerate is a built in function used to keep the count of iterations for every iterable object like List and strings.

It prints the output in the form of list of tuples ==> (Index,Value)

In [2]:
# Without enumerator
# We want to get the index and letter of a string

index=0
for letter in 'pavan':
    print(f'the Letter {letter} is at index {index}')
    index += 1

the Letter p is at index 0
the Letter a is at index 1
the Letter v is at index 2
the Letter a is at index 3
the Letter n is at index 4

In [8]:
# Another method
# Using varible to declare as string and using string indexing
index = 0
word = 'pavan'

for letter in word:
    print(f'The letter {word[index]} is at index {index}')
    index+=1

The letter p is at index 0
The letter a is at index 1
The letter v is at index 2
The letter a is at index 3
The letter n is at index 4

Enumerate() can be used to print counter and iterable objects

In [10]:
word = 'pavan'

# item in the for loop represents each element of the string

for item in enumerate(word):
    print (item)

(0, 'p')
(1, 'a')
(2, 'v')
(3, 'a')
(4, 'n')

By default the Counter starts from 0 ... If we give enumerate(word,100) the counting starts from 100

In [11]:
word = 'pavan'

for item in enumerate(word,10):
    print (item)

(10, 'p')
(11, 'a')
(12, 'v')
(13, 'a')
(14, 'n')

The output will be as printing list of tuples in for loop

In [14]:
mylist = [(10,12),(22,33),(44,88)]

for i in mylist:
    print (i)

(10, 12)
(22, 33)
(44, 88)

We can use Tuple Unpacking method ... for a,b in t:

In [17]:
mylist=['hi','i am','pavan','sai']

for index,value in enumerate(mylist):
    print(f'Index is {index} and Value is {value}')

Index is 0 and Value is hi
Index is 1 and Value is i am
Index is 2 and Value is pavan
Index is 3 and Value is sai

 ### Zip

Zip combines lists

In [ ]:
list1 = [1,2,3,4,5]
list2 = ['a','b','c']
list3 = ['first','second','third']

for item in zip(list1,list2,list3):
    print (item)

    #Even if we have uneven numbers in list only the same numbers are taken into Zip

In [24]:
# We can do tuple unpacking with zip

for a,b,c in zip(list1,list2,list3):
    print(a)
    print(c)

1
first
2
second
3
third

### IN Operator

Used to check wheather a value is in the List/String/Dictionary

In [25]:
'a' in 'pavan'

True

In [26]:
1 in [1,2,4]

True

In [27]:
# In Dictionaries

'k2' in {'k1':123,'k2':234}

True

In [28]:
# For Values

d = {'k1':123,'k2':234}

123 in d.values()

True

## Random

Random is a built in library which consist of many functions that we can import

In [29]:
from random import shuffle

mylist = [1,2,3,4,5,6,7,8,9,10]

shuffle(mylist)

In [30]:
mylist

[4, 1, 7, 9, 6, 5, 10, 2, 8, 3]

Shuffle is a function in Random library used to shuffle the numbers

Shuffle is a in place function..So it does not print the output

In [34]:
from random import shuffle

mylist = ['I','Am','Pavan sai']

a= shuffle(mylist)

# Shuffle doesnot print any output
print(a) # Hence this is will be None
print(type(a)) # Type with NoneType
print(mylist) # WE have to print the List itself

None
<class 'NoneType'>
['I', 'Pavan sai', 'Am']

## Randint

Randint is another function in Random library

We have to give range of numbers.....It prints Random integer

In [35]:
from random import randint
randint(10,20)

20

In [37]:
a=randint(10,15)
a

11

## Input

Input is used to take input from the users

In [39]:
input('What is your name ?')
# We can enter the data once we run it

What is your name ?Something

'Something'

Input takes every value as String

In [40]:
input('Enter any number :')
# Even if we enter a integer or float it will be saved as String

Enter any number :5

'5'

In [41]:
# We can store input values in a variable
fav_num = input('What is your favourite number?')
# Print is to print output
print(f'Your favourite number is : {fav_num}') 
print(type(fav_num))

What is your favourite number?50
Your favourite number is : 50
<class 'str'>

### Type Casting

If we want to change the data type of the value we use type cast

In [1]:
# We are type casting the input into int and float
s = input('enter a number :')
num = int(input('enter a interger : '))
float_num = float(input('enter a float number : '))
print(f'Default data type of input function of {s} is {type(s)}')
print(f'Data type of {num} is {type(num)}')
print(f'Data type of {float_num} is {type(float_num)}')

enter a number :5
enter a interger : 5
enter a float number : 4
Default data type of input function of 5 is <class 'str'>
Data type of 5 is <class 'int'>
Data type of 4.0 is <class 'float'>

Appending list from string

In [2]:
mystring = 'pavan'
mylist = []

for item in mystring:
    mylist.append(item)
print(mylist)

['p', 'a', 'v', 'a', 'n']

### List Comprehensions

This is another method to create list with for loop inside the list

For loop inside the list ........ [num for num in Object]

In [3]:
mylist = [letter for letter in 'pavan']

In [4]:
mylist

['p', 'a', 'v', 'a', 'n']

In [5]:
mynum = [num for num in range(0,11)]
mynum

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
# We can perform operation in list comprehensions

squares=[num**2 for num in range(0,11)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
evens = [num for num in range(0,11) if num%2 ==0]
evens

[0, 2, 4, 6, 8, 10]

In [11]:
celsius=[0.0,32.0,33.5]
fareheit=[]

# Conversion using for loop
for i in celsius:
    a = 9/5*i+32
    fareheit.append(a)
print(celsius)
print(fareheit)

# WE can use List comprehensions

fareheit=[(9/5*i+32) for i in celsius]
print(fareheit)

[0.0, 32.0, 33.5]
[32.0, 89.6, 92.30000000000001]
[32.0, 89.6, 92.30000000000001]