In [1]:
print('Hi Python world')

Hi Python world

In [2]:
print('hi python')

hi python

String Data type

In [2]:
a='hello'
b="World"
print(a,b)

hello World

In [7]:
print(a)
print(b)

hello
World

Indexing

In [11]:
a='pavan'
print(a[0])

p

Reverse Indexing

In [12]:
a='hellllo'
print(a[-1])

o

Used to get the last character of string

**Slicing

a[start:stop:step]

In [15]:
a='hello world'
a[0::]#Only start

'hello world'

In [16]:
a[:3:]
# prints the characters upto 3 but not 3 
i.e 0 1 2
    h e l

'hel'

In [18]:
a[::3]#only skip

'hlwl'

**Strings are immutable

In [19]:
#Concatination

In [15]:
a='hello'
print(a + 'pavan')
print(a+"hai")

hellopavan
hellohai

In [22]:
#Attributes and Methods of string

In [12]:
a='pavan sai'

EX: a.lower(),a.upper()  Paranthesis
should be used

variable_name.method()

In [13]:
a.capitalize()

'Pavan sai'

In [25]:
a.upper()

'PAVAN SAI'

In [26]:
a.lower()

'pavan sai'

In [32]:
a.split()
#Spilts the words using spaces

['pavan', 'sai']

In [31]:
a.split('a')
# Splits using 'a'

['p', 'v', 'n s', 'i']

In [ ]:
#.Format() and Fstrings Methods

.FORMAT()
#This is used as replacement for Concatination
#Implemented inside the 

print('Value'{}.format('something'))

In [3]:
print('this is the string {}'.format("INSERTED"))

this is the string 'INSERTED'

In [4]:
#We can add multiple values in string
# These will be in the same order in which we have given
print('My full name is {} {} {}'.format('PAVAN','GADDE','SAI'))

My full name is pavan gadde sai

In [5]:
# We can use indexing to give correct order
print("My full name is {0} {2} {1}".format('PAVAN','GADDE','SAI'))

My full name is PAVAN SAI GADDE

In [6]:
# We can declare variables
print("My full name is {p} {s} {g}".format(p='PAVAN',g='GADDE',s='SAI'))

My full name is PAVAN SAI GADDE

In [16]:
print("hi this is {} {} {}".format('pavan','from','hyd'))

hi this is pavan from hyd

* Float Formatting

{value:width.precision f}.format(value)

value = Float value
Width = How much length you want ==> Usually it adds more whitespaces
Precision = How many numbers you want after decimal point

a=
print(..{a:1.3f}.format(a))

In [20]:
print('This is the float value {}'.format(1.58597565))

This is the float value 1.58597565

In [10]:
print("Float value {r:1.2f}".format(r=1.2354))

Float value 1.24

* F Strings
a=''
print(f'....{a})

In [15]:
value='pavan sai'
print(f'this is {value}')

this is pavan sai

In [52]:
name='pavan sai'
print(f'my name is {name}')

my name is pavan sai

In [53]:
a='Hii'
b='hyderabad'
print(f'{a} i am from {b}')

Hii i am from hyderabad

In [64]:
a='pavsn'
print(a.upper())
print(a[2::])

PAVSN
vsn

In [66]:
#List
#Ordered Sequence that can hold variety of object types

In [68]:
a = [1,2,3,4]
print(a)

[1, 2, 3, 4]

In [70]:
# We can use different data types in List
a = [100,20.5364,'String']
print(a)

[100, 20.5364, 'String']

In [71]:
# Length of List
len(a)

3

In [72]:
# Indexing and Slicing
var = ['one','two','three','four']
var[0]

'one'

In [75]:
var[1::2]

['two', 'four']

In [76]:
#Concating List

In [77]:
a = ['one','two','three','four']
b = ['five','six']
c= a+b
c

['one', 'two', 'three', 'four', 'five', 'six']

List is similar to string
Difference is in List we can mutate elements individually

In [79]:
# Individual elements can be modified in List
a = ['Pavan','sai','Gadde']
a[1] = 'Kumar'
a

['Pavan', 'Kumar', 'Gadde']

In [82]:
# In Strings we cannot mutate individual elements
a='Pavan'
a[0]='s'

In [85]:
# Methods in List
a=['Pavan','sai']

In [86]:
# .append('')
#Appends new element in the end of List
a.append('Gadde')
a

['Pavan', 'sai', 'Gadde']

In [97]:
# .pop()
# POP method is used to remove an item from the list

a = ['one','two','three','four']
# It prints and removes the last item
a.pop()

'four'

In [98]:
print(a)

['one', 'two', 'three']

Here the last item is removed from the list
By default last item is removed i.e -1 position
We can mention desired position to remove

In [105]:
a = ['one','two','three','four']
b = a.pop()
c=a.pop(0)
print(a,'\n',b,'\n',c)

['two', 'three']
 four
 one

In [106]:
#.Sort()
a=[10,3,4,2,33]
a.sort()

In [107]:
a

[2, 3, 4, 10, 33]

In [110]:
# a.sort() ===> sorts the items in list inplace
# It doesnot return any value and print it
# a ==> It will have sorted items
a=['three','five','one']
b = a.sort()
print(b)

None

this is because a.sort() Sorts the items but doesnot return any value
Now b is None type

In [111]:
type(b)

NoneType

In [115]:
# To assign sorted value to new variable
mylist=[3,6,2,33,55]
mylist.sort()
newlist = mylist
newlist

[2, 3, 6, 33, 55]

In [113]:
a=['three','five','one']
a.sort()
#sorts alphabetically
a

['five', 'one', 'three']

In [114]:
a=['x','e','a','i']
a.sort()
a

['a', 'e', 'i', 'x']

In [116]:
# reverse
# Sorts in reverse order

a.reverse()
a

['x', 'i', 'e', 'a']

In [118]:
# Dictionaries
# These are unordered mappings of objects 
# Key value pair

In [119]:
a = {'key1':'value1','key2':'value2','key3':'value3'}
a

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

Difference between List and Dictionary
List ==> List use []
         Ordered
         We can use Indexing and slicing
Dictionaries ==> Dictionaries use {}
                 Unordered
                 No Indexing and slicing
                 We use Keys to get the values

In [22]:
a = {'name':'pavan','roll_no':1454751,'weight':55.345,4.33:1234}
print(a[4.33])
print(a['name'])

1234
pavan

If we use a string the "" or '' are mandatory
If we use integer or float then they are not necessary

In [ ]:
# We can Nest dictionaries and sets inside the dictionary

In [137]:
a = {'k1':123,'k2':[0,1,2],'k3':{'name':'pavan sai'}}
a['k1']

123

In [131]:
a['k2']

[0, 1, 2]

In [132]:
# To return the set inside the dictionary
a['k2'][0]

0

In [140]:
# to return dictionary inside dictionary 
print(a['k3'])
print(a['k3']['name'])
print(a['k3']['name'].upper())

{'name': 'pavan sai'}
pavan sai
PAVAN SAI

In [145]:
# Adding new item in the dictionary
a={'k1':'first','k2':'second','k3':'third'}

In [147]:
a['k4']='Fourth'

In [148]:
a

{'k1': 'first', 'k2': 'second', 'k3': 'third', 'k4': 'Fourth'}

In [149]:
#Changing the existing value
a['k3']='new_value'
a

{'k1': 'first', 'k2': 'second', 'k3': 'new_value', 'k4': 'Fourth'}

In [152]:
#Dictionary Methods

In [153]:
a.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [154]:
a.values()

dict_values(['first', 'second', 'new_value', 'Fourth'])

In [155]:
a.items()

dict_items([('k1', 'first'), ('k2', 'second'), ('k3', 'new_value'), ('k4', 'Fourth')])

In [156]:
# Tuples

Tuples are similar to List .....
Tuples use () where as list use []

In [23]:
t = (1,'two','three',5.467)

In [24]:
print(t)
type(t)
t

(1, 'two', 'three', 5.467)

(1, 'two', 'three', 5.467)

Main difference between Tuples and List is that Tuples are immutable where as List are mutable

In Tuples we cannot reassign the element once declared

In [164]:
# Set
s = [1,'two','three']
# Tuple
t = (1,'two','three',5.467)

In [165]:
s[0]='New'
s

['New', 'two', 'three']

In [166]:
t[0]='New'

TypeError: 'tuple' object does not support item assignment

In [167]:
# We cannot reassign elements once declared

In [168]:
# Methods

In [176]:
t=('a','a','b')
t

('a', 'a', 'b')

In [170]:
# Gives the count of how many times the element is repeated in the tuple
t.count('a')

2

In [172]:
#Gives the first location of the element
t.index('a')

0

In [177]:
# Sets

Sets ==> Unordered collection of unique items

No element is repeated

In [178]:
myset = set()
myset

set()

In [180]:
myset.add(1)
myset

{1}

In [181]:
myset.add(2)
myset

{1, 2}

In [182]:
# Set will only store unique items
myset.add(2)
myset

{1, 2}

In [193]:
#Use of Set with List
mylist = [1,1,1,1,2,2,2,2,3,3,3,4,4,4]
mylist

[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4]

In [194]:
set(mylist)
# These values are not ordered

{1, 2, 3, 4}

In [195]:
# Boolean Operators

These Operators convey True or False statements

In [196]:
1 > 2

False

In [197]:
1 == 1

True

In [198]:
type(True)

bool

In [199]:
# None Datatype
a = None
# These are used for the variables whose data type is not yet decided

In [200]:
type(a)

NoneType

In [20]:
pwd

'C:\\Users\\Chinna\\Desktop'

Creating and writing new file in Jupyter notebook

To create file in jupyter notebook
#%% writefile filename.txt 
#Enter data in the file

In [105]:
%%writefile python_file.txt
This is the first text file
Created from Jupyter notebook
Using writefile command

Overwriting python_file.txt

In [88]:
# To open file 
# variable = open('filename.txt')
# That text file should be in same location as jupyter notebook

a = open('python_file.txt')

# This open() command will not print the output of the file

In [45]:
# To read the output we use read() command
# variable.read()
#This will display the file data in string format
a.read()

'This is the first text file\nCreated from Jupyter notebook\nUsing writefile command\n# %%writefile filename.txt\n# Enter data in the file\n'

In [46]:
#If we run the .read() command again we get ==> ''  as output
a.read()

''

This is because the cursor will move to end of the file

We have to seek it back to first position ==> Using .seek(0)
#0 is the position of first element in string

In [47]:
a.seek(0)

0

In [90]:
# If we run .read() again we can see the entire data of file.txt
a.read()

''

In [91]:
a.seek(0)
var = a.read()
# Now this variable var can be read many times

'This is the first text file\nCreated from Jupyter notebook\nUsing writefile command\n# %%writefile filename.txt\n# Enter data in the file\n'

In [95]:
var

'This is the first text file\nCreated from Jupyter notebook\nUsing writefile command\n# %%writefile filename.txt\n# Enter data in the file\n'

In [93]:
#.readlines() ==> This will display the text of files in list format
# Each line is separated into different item
a.seek(0)
a.readlines()

['This is the first text file\n',
 'Created from Jupyter notebook\n',
 'Using writefile command\n',
 '# %%writefile filename.txt\n',
 '# Enter data in the file\n']

In [57]:
# To close the file
a.close()

In [3]:
# var = open('filename') ==> Is old method
# with Command is another method
# Here close() is not needed

with open('python_file.txt') as a:
    var = a.read()
    print (var)

Writing new stuff

In [71]:
print(var)
print(car)

This is the first text file
Created from Jupyter notebook
Using writefile command
# %%writefile filename.txt
# Enter data in the file

['This is the first text file\n', 'Created from Jupyter notebook\n', 'Using writefile command\n', '# %%writefile filename.txt\n', '# Enter data in the file\n']

In [11]:
# Read mode
with open('python_file.txt',mode='r') as a:
    var = a.read()
    print(var)

Writing new stuffThis is the line to append

In [12]:
#Append Mode
#Adds data on the file
with open('python_file.txt',mode='a') as a:
    a.write('\nThis is the line to append')

In [13]:
with open('python_file.txt',mode='r') as a:
    b=a.read()
    a.seek(0)
    c=a.readlines()
    print(b)
    print(c)

Writing new stuffThis is the line to append
This is the line to append
['Writing new stuffThis is the line to append\n', 'This is the line to append']

In [14]:
# Write mode
# This will over write the file
with open('python_file.txt',mode='w') as a:
     a.write('\n Overwrite the file')

In [15]:
# To display the output
with open('python_file.txt',mode='r') as a:
    c = a.read()
    print(c)

 Overwrite the file

In [16]:
# Write mode is used to create new file it doesnot exist
with open('newfile.txt',mode='w') as a:
    a.write('This is a file created from the Write Mode')

42

In [116]:
with open('newfile.txt',mode='r') as r:
    print(r.read())

This is a file created from the Write Mode

In [123]:
# Append mode
# Adds new line at the end of file
with open('newfile.txt',mode='a') as a:
    a.write('\nNew line appended from append mode')

In [124]:
with open('newfile.txt',mode='r') as r:
    print(r.read())

This is a file created from the Write Mode
New line appended from append mode

In [125]:
# mode = r+ ==> To read and write the file
# mode = w+ ==> to write and read the file and can create new file it doesnot exist

## IF..Elif

In [25]:
var=5

if (var > 100 ):
    print('value is greater than 100')
elif(var<10):
    print(var ,'is less than 10')
else:
    print('Cannot determine')

5 is less than 10

In [30]:
name = 'kiran'

if (name == 'pavan sai'):
    print('Hi !!! Pavan sai')
elif(name == 'tarun'):
    print('Hi tarun')
else:
    print('Is your name',name,'?')

Is your name kiran ?

# For Loop

In python we can use For loop to print objects in all data structures

Such as String,List,Tuple,Dictionaries

EX: for i in d: ===> i represents each element of the d data structure
#Here the i will increment automatically

In [ ]:
# for i in mylist:
    #commands

In [2]:
mylist=[1,2,3]

for item in mylist:
    print(item)
# Here item is a variable which represents each object in the list from the start

1
2
3

In [3]:
for item in mylist:
    print('hello')

hello
hello
hello

In [7]:
# Using For and IF conditions
# Printing Even numbers

mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist:
    if (num % 2 == 0):
        print('Even :',num)
    else:
        print('ODD :',num)

ODD : 1
Even : 2
ODD : 3
Even : 4
ODD : 5
Even : 6
ODD : 7
Even : 8
ODD : 9
Even : 10

In [13]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for i in mylist:
    if (i%2==0):
        print(i)
    else:
        #using fstrings
        print(f'odd num : {i}')

odd num : 1
2
odd num : 3
4
odd num : 5
6
odd num : 7
8
odd num : 9
10

In [20]:
# Getting sum of objects in list
a = [1,2,3,4,5]

total = 0

for i in a:
# b  is every single object in list 
    total = total + b
    print('sum_Increment = ',total)
    
print('total_sum = ',total)

sum_Increment =  5
sum_Increment =  10
sum_Increment =  15
sum_Increment =  20
sum_Increment =  25
total_sum =  25

In [19]:
# Using For loop in Strings
#Used to print every character in string 

mystring = 'pavan'

for i in mystring:
    print(i)

p
a
v
a
n

We can use '_' instead of variable in for loop
#for _ in mystring:

In [21]:
# Nesting list
mylist = [1,2,[3,4],[5,6]]

for i in mylist:
    print (i)

1
2
[3, 4]
[5, 6]

In [24]:
# Tuples with for loop
a = (1,2,4,55)
for i in a:
    print (i)

1
2
4
55

In [25]:
# Consider a list of Tuples

tuple_list = [(1,2),(3,4),(5,6)]

# This will print the tuples
for i in tuple_list:
    print(i)

(1, 2)
(3, 4)
(5, 6)

## Tuple UnPacking

In [26]:
# Print elements of the list individually
tuple_list = [(1,2),(3,4),(5,6)]

# Here a represents all the first elements in tuples
# b represents all the second elements in tuples
for (a,b) in tuple_list:
    print(a)
    print(b)

# We can use without parenthesis
# for a,b in tuple_list:

1
2
3
4
5
6

In [33]:
t = [(1,2,3),(66,77,9),('a','b','c')]

# If we want only first element in each tuple
for (a,b,c) in t:
    print(a)

1
2
3
66
77
9
a
b
c

## For in Dictionaries

In [34]:
d = {'k1':1,'k2':2,'k3':3}

# Only prints keys of dictionary
for i in d:
    print(i)

k1
k2
k3

We can use Dictionaries methods 
#Like d.keys() d.values(),d.items()

In [36]:
for k in d.keys():
    print(k)

k1
k2
k3

In [37]:
for v in d.values():
    print(v)

1
2
3

In [38]:
for i in d.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [39]:
# Here we can use same Tuples Unpacking Techniques

In [44]:
for key,value in d.items():
    print(key,value)

k1 1
k2 2
k3 3

## While Loop

In [45]:
# while condition:
    # commands

In [55]:
x=0

while x<=5:
     print(' The value of x is',x)
#    print(f'Value of x is {x}')
     x+=1

 The value of x is 0
 The value of x is 1
 The value of x is 2
 The value of x is 3
 The value of x is 4
 The value of x is 5

In [57]:
# While and Else
x=0

while x<=5:
     print(' The value of x is',x)
#    print(f'Value of x is {x}')
     x+=1
else:
    print(f'{x} is greater than 5')

 The value of x is 0
 The value of x is 1
 The value of x is 2
 The value of x is 3
 The value of x is 4
 The value of x is 5
6 is greater than 5

### Break

Break Command is used to break out of the loop when condition is matched

In [60]:
mystring = 'Pavan sai'

for i in mystring:
    print(i)
    if i == ' ':# Breaks the loop if ' ' comes
        break

P
a
v
a
n

In [79]:
# Break is mostly used with while loop

x=100

while (x>50):
    if (x==60):
        break
    print(x)
    x-=10

100
90
80
70

### Continue

Continue is used to skip the commands if condition is matched and reaches top of the loop

In [74]:
mystring = 'pavan sai'

for i in mystring:
    if i=='s': # When i == 's' it will skip print and reaches to next element
        continue 
    print(i) # Print should be out of the if condition

p
a
v
a
n

a
i

### Pass

This will not do anything

In [77]:
i = [1,2,2]

for a in i:
    pass # This will not execute anything
# Used to make changes later

### Range

Range is used print numbers within the given Range.

In [82]:
# This will print numbers upto 10 but doesnot include 10
for num in range(0,10):
    print (num)

0
1
2
3
4
5
6
7
8
9

In [84]:
# We can give Step Value
for num in range(2,10,2):
    print (num)

2
4
6
8

In [ ]:
# If we don't provide start value it starts from 0
for num in