 ## Advanced Python Modules

   ### Collection Module:=
           
           Collection module provides different specialized containers.
           
           Containers ==> Objects that store other objects
                         Built-in Containers EX: List,Tuple,Dictionaries

#### 1.Counter
    
    Subclass of the Dictionary
    
    Returns item in the list and number of times it was repeated(counter)
    
    Counter({item1:Counter1,item2:Counter2})

In [5]:
from collections import Counter

In [8]:
mylist = [1,1,1,1,2,2,2,2,2,2,2,2,3,3,3,3]

In [9]:
Counter(mylist)

Counter({1: 4, 2: 8, 3: 4})

In [10]:
list2 = ['a','a','a','a',5,5,5,88]

In [11]:
Counter(list2)

Counter({'a': 4, 5: 3, 88: 1})

In [12]:
Counter('pavan sai')

Counter({'p': 1, 'a': 3, 'v': 1, 'n': 1, ' ': 1, 's': 1, 'i': 1})

In [13]:
# Count words in sentence

sentence = 'I am is pavan sai and i am from hyd'

In [ ]:
# This gives count for all the letters in string
Counter(sentence)

In [15]:
# We have to convert the above string into list
Counter(sentence.split())

Counter({'I': 1,
         'am': 2,
         'is': 1,
         'pavan': 1,
         'sai': 1,
         'and': 1,
         'i': 1,
         'from': 1,
         'hyd': 1})

In [19]:
# We can use lower() or upper()
Counter(sentence.lower().split())

Counter({'i': 2,
         'am': 2,
         'is': 1,
         'pavan': 1,
         'sai': 1,
         'and': 1,
         'from': 1,
         'hyd': 1})

In [28]:
mylist = [1,1,1,1,3,3,3,3,3,6,6,6,6,6,6]

In [29]:
c=Counter(mylist)

In [30]:
print(c)

Counter({6: 6, 3: 5, 1: 4})

In [39]:
list(c)

[1, 3, 6]

In [31]:
# Methods in Counters

In [34]:
# Returns most repeated item and its count

c.most_common(1)

[(6, 6)]

### Default Dict
    
    This is a specialized dictionary
    
    Default dict will assign a default value for a instance in which there is key error.
    
    var = defaultdict(lambda:default_value)

In [40]:
from collections import defaultdict

In [41]:
# Create a dictionary

mydict = {'name':'pavan','age':13}

In [42]:
mydict['name']

'pavan'

In [43]:
mydict['age']

13

In [44]:
# If we search for a new key that is not in the dictionary we get a error
mydict['new']

KeyError: 'new'

Instead of getting a error we can assign a default value to the keys that are not defined in the dictionary

In [53]:
# Here 0 is the default value
d = defaultdict(lambda:500)

In [54]:
# Assign new values
d['pavan']=100
d['sai']=200

In [55]:
# Printing values
d['pavan']

100

In [56]:
d['sai']

200

In [58]:
# Try to print any new value we get default value
d['new']

500

### Named Tuple:
    
    Instead of using indexing to refer to elements in tuple we use strings in Named tuples.
    
    This is similar to creating objects from class 
    
    Syntax:
        
        var = namedtuple(typename,fieldname)
        
        typename ==> name of tuple
        fieldname is a list of attributes

In [62]:
from collections import namedtuple

In [59]:
# Regular tuple

tup = ('pavan','sai','gadde')

In [60]:
tup[0]

'pavan'

In [61]:
# Named tuple

In [63]:
person = namedtuple('person',['name','age','height'])

In [64]:
person

__main__.person

In [65]:
# Now we can create instances from this tuple

In [66]:
pavan = person('pavan',10,5)

In [67]:
pavan

person(name='pavan', age=10, height=5)

In [68]:
pavan.name

'pavan'

In [69]:
pavan.age

10

In [70]:
pavan.height

5

In [71]:
pavan[0]

'pavan'

In [73]:
some = namedtuple('dog',['name','age'])

In [74]:
some

__main__.dog

In [75]:
rocke = some('rocke',10)

In [76]:
rocke.name

'rocke'